@model ASI.Basecode.Services.ServiceModels.GenreViewModel
@section styles {
    <link rel="stylesheet" href="~/css/genre.css" />
}
@{
    ViewData["Title"] = "Book Genre Master";
}
<div class="mt-5 pt-5 mb-3">
    <div class="d-flex justify-content-end">
        <!--<h2 class="fw-bolder dark-blue">Newest</h2>-->
        <a class="add-button"
           asp-action="AddGenre" asp-controller="Genre">
            <span>+&nbsp;Add Genre </span>
            <span></span>
        </a>
    </div>
    <div class="table-container" style="height:600px;">
        <table class="table" id="myTable">
            <thead class="custom-thead">
                <tr>
                    <th>Genre Name</th>
                    <th>Created By</th>
                    <th>Date Added</th>
                    <th>Updated By</th>
                    <th>Date Updated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var genre in Model.Genres)
                {
                    <tr>
                        <td>@genre.GenreName</td>
                        <td>@genre.GenreCreatedBy</td>
                        <td>@genre.DateAdded</td>
                        <td>@genre.UpdatedBy</td>
                        <td>@genre.UpdatedDate</td>
                        <td class="button" style="min-width: 260px; display: flex; align-items: center; justify-content: center;">
                            <form asp-controller="Genre" asp-action="EditGenre" method="get">
                                <input type="hidden" name="GenreId" value="@genre.GenreId">
                                <button type="submit">
                                    <i class="bi bi-pencil-square icon-gradient" style="font-size: 15px;"></i>
                                </button>
                            </form>
                            <button type="button" style="margin-left: 10px;" data-toggle="modal" data-target="#GenreModal_@genre.GenreId">
                                <i class="bi bi-trash icon-gradient"></i>
                            </button>
                            <form asp-controller="Genre" asp-action="ViewGenre" method="get">
                                <input type="hidden" name="GenreId" value="@genre.GenreId">
                                <button type="submit" style="margin-left: 10px;">
                                    <i class="bi bi-eye icon-gradient" style="font-size: 15px;"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(1 == Model.Page ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("List", new { page = Model.Page - 1, pageSize = Model.PageSize })" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @if (Model.TotalPages > 1)
        {
            <li class="page-item @(1 == Model.Page ? "active" : "")">
                <a class="page-link" href="@Url.Action("List", new { page = 1, pageSize = Model.PageSize })">1</a>
            </li>

            @for (int i = Math.Max(2, Model.Page - 1); i <= Math.Min(Model.TotalPages - 1, Model.Page + 1); i++)
            {
                <li class="page-item @(i == Model.Page ? "active" : "")">
                    <a class="page-link" href="@Url.Action("List", new { page = i, pageSize = Model.PageSize })">@i</a>
                </li>
            }

            <li class="page-item @(Model.TotalPages == Model.Page ? "active" : "")">
                <a class="page-link" href="@Url.Action("List", new { page = Model.TotalPages, pageSize = Model.PageSize })">@Model.TotalPages</a>
            </li>
        }

        <li class="page-item @(Model.TotalPages == Model.Page ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("List", new { page = Model.Page + 1, pageSize = Model.PageSize })" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

@foreach (var genre in Model.Genres)
{
    <!-- Modal -->
    <div class="modal fade" id="GenreModal_@genre.GenreId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-controller="Genre" asp-action="DeleteGenre" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Genre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="GenreId" value="@genre.GenreId">
                        <h2>Are you sure you want to delete this genre?</h2>
                        <h3>@genre.GenreName</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>