@model ASI.Basecode.Services.ServiceModels.GenreViewModel
@{
    var Books = (ASI.Basecode.Services.ServiceModels.BookViewModel)ViewData["Books"];
}
@section styles {
    <link rel="stylesheet" href="~/css/genre.css" />
}
@{
    ViewData["Title"] = "Genre Details";
}
<div class="mt-5 pt-5 mb-3">
    <div class="d-flex justify-content-between">
        <!--<h2 class="fw-bolder dark-blue">Newest</h2>-->
        <a class="bd-viewBR px-3"
           asp-action="List" asp-controller="Genre">
            <span class="bd-viewBRText">&lt;&nbsp;Back </span>
            <span></span>
        </a>
    </div>
    <div class="container p-0">
        <div class="d-flex justify-content-between align-content-center w-70">
            <div class="detaillabel">
                <h2>GENRE DETAILS.</h2>
            </div>
            <div class="form-group" style="margin-right:7%;">
                <div class="d-flex align-content-center mt-3">
                    <form asp-controller="Genre" asp-action="EditGenre" method="get">
                        <input type="hidden" name="GenreId" value="@Model.GenreId">
                        <button type="submit" class="bd-viewBR mx-3 px-4">
                            <span class=" bd-viewBRText "><i class="bi bi-pencil-square me-2"></i>Edit Genre</span>
                            <span></span>
                        </button>
                    </form>
                    <button type="submit" class="bd-viewBR px-4">
                        <span class="bd-viewBRText ff-inter"><i class="bi bi-trash me-2"></i>Delete</span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 editform">
                <div class="form-group">
                    <label>Genre ID</label>
                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" asp-for="GenreId" value="@Model.GenreId" disabled>
                </div>
                <div class="form-group">
                    <label>Genre Name</label>
                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" asp-for="GenreName" value="@Model.GenreName" disabled />
                </div>
            </div>
            <div class="col-md-6 editform1">
                <div class="form-group">
                    <label>Created By</label>
                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" value="@Model.GenreCreatedBy" disabled>
                </div>
                <div class="form-group">
                    <label>Time Created</label>
                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" value="@Model.DateAdded" disabled />
                </div>
                <div class="form-group">
                    <label>Updated By</label>
                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" value="@Model.UpdatedBy" disabled />
                </div>
                <div class="form-group">
                    <label>Time Updated</label>
                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" value="@Model.UpdatedDate" disabled />
                </div>
            </div>
        </div>
    </div>
</div>
