@model ASI.Basecode.Services.ServiceModels.AdminViewModel
@section styles {
    <link rel="stylesheet" href="~/css/admin.css" />
}
@{
    ViewData["Title"] = "Account Master";
}
<div class="mt-5 pt-5 mb-3">
    <div class="d-flex justify-content-end">
        <!--<h2 class="fw-bolder dark-blue">Newest</h2>-->
        <a class="bd-viewBR px-3"
           asp-action="AddAdmin" asp-controller="Admin">
            <span class="bd-viewBRText">+&nbsp;Add Account </span>
            <span></span>
        </a>
    </div>
    <div>
        <table class="table" id="myTable">
            <thead class="custom-thead">
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Created By</th>
                    <th>Created Time</th>
                    <th>Updated By</th>
                    <th>Updated Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var admin in Model.Admins)
                {
                    <tr>
                        <td>@admin.Email</td>
                        <td>@admin.Name</td>
                        <td>@admin.CreatedBy</td>
                        <td>@admin.CreatedTime</td>
                        <td>@admin.UpdatedBy</td>
                        <td>@admin.UpdatedTime</td>
                        <td>
                            <div style=" display: flex; justify-content: center; align-items: center;">
                                <form asp-controller="Admin" asp-action="EditAdmin" method="get" class="me-2">
                                    <input type="hidden" name="AdminId" value="@admin.AdminId">
                                    <button type="submit" class="icon-btn">
                                        <span><i class="bi bi-pencil-square icon-text"></i></span>
                                        <span></span>
                                    </button>
                                </form>

                                <button type="button" data-toggle="modal" data-target="#AdminModal_@admin.AdminId" class="icon-btn me-2">
                                    <span> <i class="bi bi-trash icon-text"></i></span>
                                    <span></span>
                                </button>
                                <form asp-controller="Admin" asp-action="ViewAdmin" method="get">
                                    <input type="hidden" name="AdminId" value="@admin.AdminId">
                                    <button type="submit" class="icon-btn">
                                        <span><i class="bi bi-eye icon-text"></i></span>
                                        <span></span>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center  mt-5">
        <li class="page-item @(Model.Page == 1 || Model.TotalPages <= 1 ? "disabled" : "")">
            <a class="pagination-btn" href="@Url.Action("List", new { page = Model.Page - 1, pageSize = Model.PageSize })" aria-label="Previous">
                <span class="pagination-text" aria-hidden="true">&lt;</span>
                <span></span>
            </a>
        </li>

        <li class="page-item @(Model.Page == 1 ? "active" : "")">
            <a class="pagination-btn" href="@Url.Action("List", new { page = 1, pageSize = Model.PageSize })">
                <span class="pagination-text">1</span>
                <span></span>
            </a>
        </li>

        @if (Model.TotalPages > 1)
        {

            @for (int i = Math.Max(2, Model.Page - 1); i <= Math.Min(Model.TotalPages - 1, Model.Page + 1); i++)
            {
                <li class="page-item @(i == Model.Page ? "active" : "")">
                    <a class="pagination-btn" href="@Url.Action("List", new { page = i, pageSize = Model.PageSize })">
                        <span class="pagination-text">@i</span>
                        <span></span>
                    </a>
                </li>
            }

            <li class="page-item @(Model.TotalPages == Model.Page ? "active" : "")">
                <a class="pagination-btn" href="@Url.Action("List", new { page = Model.TotalPages, pageSize = Model.PageSize })">
                    <span class="pagination-text">@Model.TotalPages</span>
                    <span></span>
                </a>
            </li>
        }
        <li class="page-item @(Model.Page == Model.TotalPages || Model.TotalPages <= 1 ? "disabled" : "")">
            <a class="pagination-btn" href="@Url.Action("List", new { page = Model.Page + 1, pageSize = Model.PageSize })" aria-label="Next">
                <span class="pagination-text" aria-hidden="true">&gt;</span>
                <span></span>
            </a>
        </li>
    </ul>
</nav>



@foreach (var admin in Model.Admins)
{
    <!-- Modal -->
    <div class="modal fade" id="AdminModal_@admin.AdminId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-cont px-4">
                <form asp-controller="Admin" asp-action="DeleteAdmin" method="post">
                    <div class="modal-body text-white d-flex flex-column justify-content-center align-items-center mt-2">
                        <input type="hidden" name="AdminId" value="@admin.AdminId">
                        <i class="bi bi-trash3-fill themed-text" style="font-size:5rem;"></i>
                        <h5 class="text-white text-center">Are you sure you want to delete this Admin?</h5>
                        <h6 class="text-neutralgray ff-inter text-center mt-3 text-truncate"><i>@admin.Email</i></h6>
                    </div>

                    <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                        <div class="row g-3" style="width:95%;">
                            <div class="col d-flex">
                                <button class="bd-viewBR w-100" data-dismiss="modal">
                                    <span class="bd-viewBRText ff-inter fw-bold">Cancel</span>
                                    <span></span>
                                </button>
                            </div>
                            <div class="col">
                                <button type="submit" class="bd-viewBR w-100">
                                    <span class="bd-viewBRText ff-inter fw-bold">Delete</span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        // Check for success message and display Toastr notification
        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            toastr.success(successMessage);
        }
    </script>
}