@model ASI.Basecode.Services.ServiceModels.AdminViewModel
@section styles {
    <link rel="stylesheet" href="~/css/admin.css" />
}
@{
    ViewData["Title"] = "Admin Details";
}
<div class="mt-5 pt-5 mb-3">
    <div class="d-flex justify-content-between">
        <a class="bd-viewBR px-3"
           asp-action="List" asp-controller="Admin">
            <span class="bd-viewBRText">&lt;&nbsp;Back </span>
            <span></span>
        </a>
    </div>
    <div class="container p-0">
        <div class="d-flex justify-content-between align-content-center w-70">
            <div class="detaillabel">
                <h2>ACCOUNT DETAILS.</h2>
            </div>
            <div class="form-group" style="margin-right:7%;">
                <div class="d-flex align-content-center mt-3">
                    <form asp-controller="Admin" asp-action="EditAdmin" method="get">
                        <input type="hidden" name="AdminId" value="@Model.AdminId">
                        <button type="submit" class="bd-viewBR mx-3 px-4">
                            <span class=" bd-viewBRText "><i class="bi bi-pencil-square me-2"></i>Edit Admin</span>
                            <span></span>
                        </button>
                    </form>
                    <button type ="button" data-toggle="modal" data-target="#AdminModal_@Model.AdminId" class="bd-viewBR px-4">
                        <span class="bd-viewBRText ff-inter"><i class="bi bi-trash me-2"></i>Delete</span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Admin ID</label>
                    <input class="form-control shadow-none bg-transparent text-neutralgray border-white mt-1" asp-for="AdminId" value="@Model.AdminId" disabled>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control shadow-none bg-transparent text-neutralgray border-white mt-1" asp-for="Name" value="@Model.Name" disabled />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control shadow-none bg-transparent text-neutralgray border-white mt-1" asp-for="Email" value="@Model.Email" disabled />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control shadow-none bg-transparent text-neutralgray border-white mt-1" asp-for="Password" value="@Model.Password" disabled />
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Created By</label>
                    <input class="form-control shadow-none bg-transparent text-neutralgray border-white mt-1" asp-for="CreatedBy" value="@Model.CreatedBy" disabled>
                </div>
                <div class="form-group">
                    <label>Time Created</label>
                    <input class="form-control shadow-none bg-transparent text-neutralgray border-white mt-1" value="@Model.CreatedTime" disabled />
                </div>
                <div class="form-group">
                    <label>Updated By</label>
                    <input class="form-control shadow-none bg-transparent text-neutralgray border-white mt-1" asp-for="UpdatedBy" value="@Model.UpdatedBy" disabled />
                </div>
                <div class="form-group">
                    <label>Time Updated</label>
                    <input class="form-control shadow-none bg-transparent text-neutralgray border-white mt-1" value="@Model.UpdatedTime" disabled />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="AdminModal_@Model.AdminId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-cont px-4">
            <form asp-controller="Admin" asp-action="DeleteAdmin" method="post">
                <div class="modal-body text-white d-flex flex-column justify-content-center align-items-center mt-2">
                    <input type="hidden" name="AdminId" value="@Model.AdminId">
                    <i class="bi bi-trash3-fill themed-text" style="font-size:5rem;"></i>
                    <h5 class="text-white text-center">Are you sure you want to delete this Admin?</h5>
                    <h6 class="text-neutralgray ff-inter text-center mt-3 text-truncate"><i>@Model.Email</i></h6>
                </div>

                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <div class="row g-3" style="width:95%;">
                        <div class="col d-flex">
                            <button class="bd-viewBR w-100" data-dismiss="modal">
                                <span class="bd-viewBRText ff-inter fw-bold">Cancel</span>
                                <span></span>
                            </button>
                        </div>
                        <div class="col">
                            <button type="submit" class="bd-viewBR w-100">
                                <span class="bd-viewBRText ff-inter fw-bold">Delete</span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
