@model ASI.Basecode.Services.ServiceModels.BookViewModel
@section styles {
    <link rel="stylesheet" href="~/css/books.css" />
}
@{
    string formattedDateAdded = Model.DateAdded.ToString("MMMM dd, yyyy");
    string formattedUpdatedDate = Model.UpdatedDate.ToString("MMMM dd, yyyy");
}

@{
    ViewData["Title"] = "View Book";
}

<div class="mt-5 pt-4 mb-3">
    <div class="d-flex justify-content-between">
        <a class="bd-viewBR px-3"
           asp-action="List" asp-controller="Book">
            <span class="bd-viewBRText">&lt;&nbsp;Back </span>
            <span></span>
        </a>
    </div>
    <div class="container p-0">
        <div class="d-flex justify-content-between align-content-center">
            <span class="bd-text">BOOK DETAILS.</span>
            <div class="d-flex align-content-center mt-1">
                <form asp-controller="Book" asp-action="EditBook" method="get">
                    <input type="hidden" name="BookId" value="@Model.BookId">
                    <button type="submit" class="bd-viewBR mx-3 px-4">
                        <span class="bd-viewBRText"><i class="bi bi-pencil-square me-2"></i>Edit Book</span>
                        <span></span>
                    </button>
                </form>
                <button type="submit" class="bd-viewBR px-4">
                    <span class="bd-viewBRText ff-inter"><i class="bi bi-trash me-2"></i>Delete</span>
                    <span></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="card mb-4 shadow-sm bg-transparent">
                    <div class="card-body text-white">
                        <div class="bd-img-cont">
                            <img class="img-fluid h-100 w-100" src="@Model.BookImage" alt="Image" onerror="this.onerror=null;this.src='/img/image.png';">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-2">
                <div class="card w-100 bg-transparent">
                    <div class="card-body text-white">
                        <div class="card-text bd-ratings-badge d-flex align-items-center">
                            <span>@Model.AverageRating/5&nbsp;</span>
                            <i class="bi bi-star-fill ml-1"></i>
                        </div>
                        <p class="card-text text-silver p-0 mb-0">Book ID:&nbsp;@Model.BookId</p>
                        <p class="card-text fs-18 p-0 mb-0 fw-400">@Model.Title</p>
                        <p class="card-text fs-16 fw-500 p-0 mb-0 text-charcoal">ISBN#:&nbsp;@Model.Isbn</p>
                        <div class="d-flex align-items-center book-genre-container  p-0 mb-1">
                            @foreach (var genre in @Model.Genre.Split(','))
                            {
                                <span class="d-flex align-items-center book-genre">@genre.Trim()</span>
                            }
                        </div>
                        <p class="card-text  p-0 mb-1">By @Model.Author</p>
                        <p class="card-text  p-0 mb-0 fs-16 ">@Model.Description</p>
                        <p class="card-text  p-0 mb-0 text-charcoal">Added By:&nbsp;<span class="themed-text">@Model.CreatedBy</span></p>
                        <p class="card-text  p-0 mb-0 text-charcoal">Time Added:&nbsp;@formattedDateAdded</p>
                        <p class="card-text  p-0 mb-0 text-charcoal">Updated By:&nbsp;<span class="themed-text">@Model.UpdatedBy</span></p>
                        <p class="card-text  p-0 mb-0 text-charcoal">Time Updated:&nbsp;@formattedUpdatedDate</p>
                        <p class="card-text  p-0 mb-0 text-silver fs-16 mt-1 mb-2">Rating Count:&nbsp;@Model.TotalReview</p>
                        <div class="viewbook-button">
                            <a href="@Url.Action("ViewBookAndReview", "Dashboard", new { BookId = @Model.BookId })" class="bd-viewBR">
                                <span class="bd-viewBRText ff-inter fw-bold">View Book Ratings</span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var url = window.location.pathname;
            $('.nav-link').each(function () {
                if ($(this).attr('href') === url) {
                    $(this).addClass('active');
                }
            });
        });
    </script>
}