@model ASI.Basecode.Services.ServiceModels.BookViewModel

<a asp-action="List" asp-controller="Book">Go Back</a>

<h2>Add New Genre</h2>

<h3>Book ID:</h3>
<h4>@Model.BookId</h4>
<h3>Isbn: </h3>
<h4>@Model.Isbn</h4>
<h3>Book Cover: </h3>
<h4>@Model.BookImage</h4>
<h3>Title: </h3>
<h4>@Model.Title</h4>
<h3>Author: </h3>
<h4>@Model.Author</h4>
<h3>Genre: </h3>
<h4>@Model.Genre</h4>