@using Microsoft.AspNetCore.Http
@{
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
}
@inject IHttpContextAccessor HttpContextAccessor
<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="logosec hover-pointer">
        <div class="h-reviewapp-container">
            <span class="h-page-name" onclick="window.location.href = '@Url.Action("Index", "Dashboard")';">Review App</span>
        </div>
    </div>
    <div class="h-nav-container">
        <a asp-action="Index" asp-controller="Dashboard" class="h-nav @(controller == "Dashboard" ? "h-active" : "")">Dashboard</a>
        <a asp-action="List" asp-controller="Book" class="h-nav @(controller == "Book" ? "h-active" : "")">Books</a>
        <a asp-action="List" asp-controller="Genre" class="h-nav @(controller == "Genre" ? "h-active" : "")">Genre</a>
        <a asp-action="List" asp-controller="Admin" class="h-nav @(controller == "Admin" ? "h-active" : "")">Accounts</a>
    </div>
    <div class="logosec">
        @HttpContextAccessor.HttpContext.Session.GetString("UserName")
        <div class="mr-20 hover-pointer" style="position: relative">
            <div class="dp">
                <img src="~/img/profile-logo.png"
                     class="dpicn hover-pointer"
                     alt="dp">
            </div>
            <div class="dropdown">
                <ul>
                    <li>
                        <i class="fa-solid fa-gear"></i>
                        <a asp-action="AccountSetting" asp-controller="Admin">Account Settings</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a class="text-black" data-toggle="modal" data-target="#logoutModal">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-cont px-4">
            <form asp-controller="Account" asp-action="SignOutUser" method="post">
                <div class="modal-body text-white d-flex flex-column justify-content-center align-items-center mt-2">
                    <i class="bi bi-trash3-fill themed-text" style="font-size:5rem;"></i>
                    <h5 class="text-white text-center">Are you sure you want to Logout?</h5>
                </div>

                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <div class="row g-3" style="width:95%;">
                        <div class="col d-flex">
                            <button class="bd-viewBR w-100" data-dismiss="modal">
                                <span class="bd-viewBRText ff-inter fw-bold">Cancel</span>
                                <span></span>
                            </button>
                        </div>
                        <div class="col">
                            <button type="submit" class="bd-viewBR w-100">
                                <span class="bd-viewBRText ff-inter fw-bold">Logout</span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
