@using Microsoft.AspNetCore.Http
@{
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
}
@inject IHttpContextAccessor HttpContextAccessor
<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="logosec hover-pointer">
        <div class="h-reviewapp-container">
            <span class="h-page-name" onclick="window.location.href = '@Url.Action("Index", "Dashboard")';">Review App</span>
        </div>
    </div>
    <div class="h-nav-container">
        <a asp-action="Index" asp-controller="Dashboard" class="h-nav @(controller == "Dashboard" ? "h-active" : "")">Dashboard</a>
        <a asp-action="List" asp-controller="Book" class="h-nav @(controller == "Book" ? "h-active" : "")">Books</a>
        <a asp-action="List" asp-controller="Genre" class="h-nav @(controller == "Genre" ? "h-active" : "")">Genre</a>
        <a asp-action="List" asp-controller="Admin" class="h-nav @(controller == "Admin" ? "h-active" : "")">Accounts</a>
    </div>
    <div class="logosec">
        @HttpContextAccessor.HttpContext.Session.GetString("UserName")
        <div class="mr-20 hover-pointer" style="position: relative">
            <div class="dp">
                <img src="~/img/profile-logo.png"
                     class="dpicn hover-pointer"
                     alt="dp">
            </div>
            <div class="dropdown">
                <ul>
                    <li>
                        <i class="fa-solid fa-gear"></i>
                        <a href="#">Settings</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a asp-action="SignOutUser" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
