@model ASI.Basecode.Services.ServiceModels.BookViewModel


<div class="container pt-5">
    <h2>Newest Book</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="card-img"><img class="img-thumbnail" src="@Model.BookImage" alt="Image" style="width: 200px; height:200px" /></div>
                    <h4 class="card-text font-weight-bold">@Model.Title</h4>
                    <p class="card-text">By <b>@Model.Author</b></p>
                    <p class="card-text"><b>@Model.Genre</b></p>
                    <p class="card-text"><b>@Model.Description</b></p>
                </div>
            </div>
        </div>
    </div>
</div>